<div class="home">

  <body>
      <button (click)="play()" class="btn fixedbuttoncenter">START</button>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div> <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>
      <div>	&#144;</div>



  </body>
  
  <footer>
    <button class="btn fixedbutton " (click)="help()">Help</button>
  </footer>
</div>
            
