<h2>Partie en cours</h2>
<hr>
<div>
  Score: <br>
  Vous : {{playerScore}}    Adversaires : {{opponentScore}}
</div>
<ng-container *ngIf="loading">
  <h2>Attendez un moment pendant la préparation de la partie.</h2>
</ng-container>
<ng-container *ngIf=" playerScore < 2 && opponentScore < 2">
  <div id="webcam-container"></div>
  <ng-container *ngIf="!loading && !showRoundResult">
    <h2>Manche {{opponentScore + playerScore + 1}}</h2>
    <ng-container *ngIf="selectedMove === 'Pierre'">
      <h2>Vous avez choisi PIERRE</h2>
    </ng-container>
    <ng-container *ngIf="selectedMove === 'Ciseau'">
      <h2>Vous avez choisi CISEAU</h2>
    </ng-container>
    <ng-container *ngIf="selectedMove === 'Feuille'">
      <h2>Vous avez choisi PAPIER</h2>
    </ng-container>
    <ng-container *ngIf="selectedMove === 'Vide'">
      <h3>Faites un geste</h3>
    </ng-container>
    <ng-container *ngIf="!waitingServer">
      <h3>Maintenez pedant {{timer}} secondes</h3>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="showRoundResult">
  <h3 *ngIf="roundResult != 'EGALITE'">Vous avez {{roundResult}} cette manche</h3>
  <h3 *ngIf="roundResult == 'EGALITE'">Egalité. Personne n'a de points pour cette manche</h3>
</ng-container>
<ng-container *ngIf="playerScore >= 2 || opponentScore >= 2">
  Partie terminée
  <div *ngIf="playerScore > opponentScore">
    Vous avez gagné
  </div>
  <div *ngIf="opponentScore > playerScore">
    Vous avez perdu
  </div>
  <div>
    <button (click)="goHome()">Revenir a l'accueil</button>
  </div>
</ng-container>
